attrs
certifi
chardet
Click
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
decorator
Flask
Flask-Compress
gunicorn
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
MarkupSafe
nbformat
numpy
plotly
pyrsistent
pytz
PyYAML
requests
retrying
scipy
six
traitlets
urllib3
Werkzeug
