.js-plotly-plot .plotly .modebar {
  padding-top: 5%;
  margin-right: 3.5%;
}

body {
  background-color: #ffffff;
  margin: 0% 0%;
}

.pretty_container {
  background-color: #ffffff;
  padding: 15px;
  position: relative;
  margin: 0px 0px;
/*  border: 1px red dashed;*/
/*
  border-radius: 5px;
  box-shadow: 2px 2px 2px lightgrey;
*/
}

.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dcc_control {
  margin: 0;
  padding: 5px;
  width: calc(100%-40px);
}

#sigma-slider {
  margin-bottom: 40px;
}

.control_label {
  margin: 0;
  padding: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  width: calc(100%-40px);
}

/* styling the slider */
.rc-slider {
  margin-left: 0px;
  padding-left: 0px;
}
.rc-slider-track {
  background-color: #377eb8;
}
.rc-slider-handle {
  border: solid 2px #377eb8;
}
.rc-slider-handle-active:active {
  border-color: #377eb8;
  box-shadow: 0 0 5px #377eb8;
}
.rc-slider-dot-active {
  border-color: #377eb8;
}


.flex-display {
  display: flex;
  flex-direction: row;
}

.container-display {
  display: flex;
  flex-direction: column;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}