.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    display: inline;
    font-size: 3.0rem;
    padding-left: 5px;
}

.app-header .app-header--image {
    position: relative;
    vertical-align: middle;
    display: inline;
    float: right;
    right: 10px;
    height: 55px;
}
